h1 {
    display: block;
    font-size: 4em;
    background-color: #1d8ffd;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: right;
}

.small-image {
    width: 215px;
    height: 215px;
    margin-bottom: 30px;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

h2 {
    color: #1d8ffd;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

ul {
    font-weight: bold;
}

.element {
    margin-left: 40px;
}

.gray-box {
    background-color: #d1d1d1;
    color: white;
}




